<%- include('partials/header', { title: 'Contact' }) %>
    <!-- Page content-->
    <section class="py-5">
        <div class="container px-5">
            <!-- Contact form-->
            <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i
                            class="bi bi-envelope"></i></div>
                    <h1 class="fw-bolder">Liên hệ</h1>
                    <p class="lead fw-normal text-muted mb-0">Mọi kiến đóng góp hoặc gợi ý cải thiện sản phẩm vui lòng
                        gửi tới địa chỉ email</p>
                    <p class="lead fw-normal text-muted mb-0">blazingmount@gmail.com</p>
                </div>

            </div>
        </div>
    </section>
    </main>
    <%- include('partials/footer') %>