<%- include('partials/header', { title: 'Chính sách bảo mật' }) %>


    <section class="bg-light py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-xxl-8">
                    <div class=" my-5">
                        <div class="text-center">
                            <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Chính sách bảo mật
                                </span></h2>
                        </div>

                        <div>
                            <h4 class="fw-bolder">1. Giới Thiệu</h4>
                            <p class="text-muted">Ứng dụng của chúng tôi được thiết kế để hỗ trợ người dùng quản lý điểm
                                số trong trò chơi blackjack (Xì Dách). Bằng việc sử dụng dịch vụ hoặc tạo tài khoản, bạn
                                đồng ý với các điều khoản trong chính sách bảo mật này và bất kỳ điều khoản bổ sung nào
                                được dẫn chiếu theo đây.</p>

                            <h4 class="fw-bolder">2. Thu Thập Thông Tin</h4>
                            <p class="text-muted">Chúng tôi thu thập các loại thông tin sau từ người dùng:</p>
                            <ul class="text-muted">
                                <li><strong>Thông Tin Cá Nhân</strong>: Bao gồm tên, email và thông tin xác thực từ
                                    Google hoặc Apple khi bạn đăng ký tài khoản.</li>
                                <li><strong>Thông Tin Về Trò Chơi</strong>: Các thông tin liên quan đến trò chơi mà bạn
                                    tạo và quản lý, như số người tham gia, kết quả điểm số và cài đặt trò chơi.</li>
                            </ul>

                            <h4 class="fw-bolder">3. Sử Dụng Thông Tin</h4>
                            <p class="text-muted">Chúng tôi sử dụng thông tin của bạn cho các mục đích sau:</p>
                            <ul class="text-muted">
                                <li><strong>Cung Cấp Dịch Vụ</strong>: Để cung cấp và duy trì các chức năng của ứng
                                    dụng, bao gồm quản lý điểm số và chia sẻ kết quả trò chơi.</li>
                                <li><strong>Cải Thiện Dịch Vụ</strong>: Để hiểu rõ hơn về cách người dùng tương tác với
                                    ứng dụng và cải thiện trải nghiệm người dùng.</li>
                                <li><strong>Bảo Mật</strong>: Để xác thực người dùng và bảo vệ chống lại các hoạt động
                                    không hợp pháp hoặc không mong muốn.</li>
                            </ul>

                            <h4 class="fw-bolder">4. Chia Sẻ Thông Tin</h4>
                            <p class="text-muted">Chúng tôi không chia sẻ thông tin cá nhân của bạn với bên thứ ba, trừ
                                khi có sự đồng ý của bạn hoặc khi được pháp luật yêu cầu. Thông tin được cung cấp trên
                                ứng dụng sẽ thuộc sở hữu chung của bạn và ứng dụng.</p>

                            <h4 class="fw-bolder">5. Bảo Mật Thông Tin</h4>
                            <p class="text-muted">Chúng tôi sử dụng các biện pháp bảo mật kỹ thuật và tổ chức hợp lý để
                                bảo vệ thông tin cá nhân của bạn khỏi mất mát, lạm dụng hoặc truy cập trái phép.</p>

                            <h4 class="fw-bolder">6. Quyền Lợi Của Người Dùng</h4>
                            <p class="text-muted">Người dùng có quyền truy cập, chỉnh sửa hoặc xóa thông tin cá nhân
                                trong tài khoản của mình bất cứ lúc nào. Nếu có yêu cầu, bạn có thể gửi email tới [địa
                                chỉ email hỗ trợ] để yêu cầu xóa dữ liệu cá nhân.</p>

                            <h4 class="fw-bolder">7. Tài Khoản và Bảo mật</h4>
                            <p class="text-muted">Chúng tôi có quyền xóa tài khoản và tên đăng nhập của người dùng nếu
                                phát hiện các hoạt động vi phạm điều khoản dịch vụ, bao gồm nhưng không giới hạn ở việc
                                sử dụng tài khoản cho các mục đích bất hợp pháp, lừa đảo, hoặc quấy rối. Các hành động
                                này có thể được thực hiện mà không cần thông báo trước hoặc chịu trách nhiệm với người
                                dùng hay bên thứ ba nào khác.</p>

                            <h4 class="fw-bolder">8. Liên Hệ</h4>
                            <p class="text-muted">Nếu có bất kỳ câu hỏi hoặc yêu cầu nào liên quan đến chính sách bảo
                                mật, vui lòng liên hệ với chúng tôi qua email hỗ trợ: blazingmount@gmail.com.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    </main>
    <%- include('partials/footer') %>