<%- include('partials/header', { title: 'Điều khoản' }) %>


    <section class="bg-light py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-xxl-8">
                    <div class=" my-5">
                        <div class="text-center">
                            <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Điều khoản
                                </span></h2>
                        </div>

                        <div>
                            <h4 class="fw-bolder">1. Giới Thiệu</h4>
                            <p class="text-muted">Ứng dụng này được thiết kế để đơn giản hóa việc quản lý điểm số trong
                                trò chơi blackjack (Xì Dách). Bằng việc sử dụng dịch vụ hoặc tạo tài khoản, bạn đồng ý
                                với các điều khoản trong chính sách bảo mật này và bất kỳ điều khoản bổ sung nào được
                                dẫn chiếu theo đây.</p>

                            <h4 class="fw-bolder">2. Điều Kiện Sử Dụng</h4>
                            <p class="text-muted">
                            <ul class="text-muted">
                                <li><strong>Quyền Sử Dụng</strong>: Quyền sử dụng ứng dụng có hiệu lực cho đến khi bị
                                    chấm dứt theo các điều khoản này. Chúng tôi có quyền chấm dứt quyền sử dụng của bạn
                                    nếu bạn vi phạm bất kỳ điều khoản hoặc điều kiện nào được quy định tại đây, mà không
                                    cần thông báo trước.</li>
                                <li><strong>Hạn Chế Sử Dụng</strong>: Người dùng không được phép:
                                    <ul>
                                        <li>Sử dụng ứng dụng cho các mục đích trái pháp luật, gian lận, hoặc gây hại cho
                                            người khác.</li>
                                        <li>Mạo danh cá nhân hoặc tổ chức khác, hoặc ngụy tạo thông tin nhằm gây hiểu
                                            lầm.</li>
                                        <li>Cố gắng xâm nhập (hack) hoặc phá hoại hệ thống bảo mật của ứng dụng.</li>
                                        <li>Sử dụng phần mềm độc hại hoặc các phương tiện khác để gây tổn hại cho hệ
                                            thống hoặc người dùng khác.</li>
                                        <li>Khai thác, thu thập thông tin cá nhân của người dùng khác mà không được
                                            phép.</li>
                                    </ul>
                                </li>
                            </ul>
                            </p>

                            <h4 class="fw-bolder">3. Quản Lý và Bảo Mật</h4>
                            <p class="text-muted">Ứng dụng hỗ trợ đăng nhập qua Google và Apple, đảm bảo an toàn cho tài
                                khoản người dùng. Chúng tôi cam kết bảo vệ thông tin cá nhân của bạn theo các tiêu chuẩn
                                bảo mật nghiêm ngặt.</p>

                            <h4 class="fw-bolder">4. Miễn Trừ Trách Nhiệm</h4>
                            <p class="text-muted">Ứng dụng được cung cấp "NHƯ HIỆN TẠI" và "NHƯ CÓ THỂ". Chúng tôi không
                                bảo đảm ứng dụng sẽ không có lỗi hoặc gián đoạn. Người dùng chịu trách nhiệm cho việc
                                sử dụng ứng dụng và các thông tin được cung cấp trong ứng dụng này.</p>

                            <h4 class="fw-bolder">5. Liên Hệ</h4>
                            <p class="text-muted">Nếu có bất kỳ câu hỏi hoặc vấn đề nào liên quan đến các điều khoản
                                này, vui lòng liên hệ với chúng tôi qua email hỗ trợ: blazingmount@gmail.com.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    </main>
    <%- include('partials/footer') %>